.card-button {
    margin: 10px;
    text-align: center;
    padding: 6px;
    border-radius: 10px;
    background: linear-gradient(45deg, #3B82F6, #1E40AF);
    background-size: 300% 300%;
    transition: background-position 0.3s ease;
}

.card-button a {
    color: #fff;
    text-decoration: none;
}

.card-button:hover {
    background-position: right;
}
